@import url('https://fonts.googleapis.com/css2?family=Sono:wght,MONO@200..800,0..1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@100..800&display=swap");

body { margin: 0; font-family: Lato; line-height: 1.75; font-size: min(16px, calc(1.2vw + 4px)); color: #666666; font-variation-settings: "MONO" 0; text-size-adjust: none; }
b { color: #444444; font-weight: 500; }
a { color: #70c96aff; text-decoration: none; }
a:hover { color: #70c96acc; text-decoration: underline; }
pre { background-color: #212; color: #cb8; border-top: solid 1px black; border-bottom: solid 1px black; font-variation-settings: "MONO" 1; padding: 0.8em 1em; margin: 1em -1em 1em -1em; border-radius: 0.4em; line-height: 1.3em; overflow-x: auto; font-size: inherit; }
p { text-align: justify; }
p img { width: 16em; float: right; margin: 0 -1em 0 1em; shape-outside: circle(); }
h1 { color: #111; font-size: 2.5em; line-height: 1; text-align: center; font-weight: 300; }
h2 { color: #0094e3; font-size: 1.6em; font-weight: 300; margin: 0; }
h3 { color: #0094e3; font-size: 1.4em; font-weight: 300; margin: 0; line-height: 1.25; }
h4 { color: #0094e3; font-size: 1.2em; font-weight: 300; margin: 0; }
h1 code, h2 code, h3 code, h4 code { font-family: Sono; letter-spacing: -0.05em; font-size: 1.1em; font-weight: 200 !important; }
.date { font-size: 0.5em; font-weight: 450; }
.intro { font-size: 1.5em; line-height: 1.25; text-align: center; font-weight: 300; }
.highlight { color: #70c96aff; }
p code { font-family: Trispace; letter-spacing: -0.05em; padding: 0 0.1em; font-weight: 400; font-size: 0.92em; border-bottom: solid 1px #706ac944; background-color: #706ac922; padding-bottom: 0.1em; }
pre code { font-family: Sono; font-variation-settings: "MONO" 1; font-weight: 300; font-size: 0.85em; }
nav { font-family: Sono; padding: 0 0 0 0; right: 0; background-image: url('images/logo.svg'); background-repeat: no-repeat; background-size: 17.5rem; background-position: calc(50vw - min(800px, 90vw)/2) 10px; height: 5rem; }
nav ul { padding: 0; text-align: right; margin: 0.7rem calc(50vw - min(800px, 90vw)/2) 0.5rem 0; }
nav li { display: inline-block; margin: 0.2rem 0 0 1rem; border-bottom: solid 1px transparent; transition: ease-in-out 0.1s all; }
nav li:hover { border-bottom: solid 0.1rem #70c96a; }
nav li a { line-height; 2; text-decoration: none !important; color: inherit; transition: ease-in-out 0.1s all; }
section { border: solid 0.04rem #70c96aff; background-color: #70c96a22; border-left: none; border-right: none; padding: 0 1.4rem; margin: 2em 0; }
main, footer { width: min(800px, 90vw); margin: 0 auto 0; padding: 0 0 3em 0; }
main li { padding-left: 1em; }
main li p { margin: 0; padding: 0; }
.library { float: left; width: 25%; height: 300px; }
.library img { width: 80%; margin: 0 10%; }
.library p { padding: 0 1em; line-height: 1.3em; font-size: 0.8em; font-style: italic; text-align: center; }
.library h3 { font-size: 1em; text-align: center; }

@media (max-device-width: 480px) {
  body { text-size-adjust: 133%; }
  nav { height: 12.5em; background-size: 80vw; background-position-y: 2em; }
}

/*@media (prefers-color-scheme: dark) {
  body { background-color: #111; color: #cccccc; }
  h1 { color: #eee; }
  nav { background-image: url('images/logo-dark.svg'); }
  .intro { color: #ccc; }
  b { color: #fff; }
}*/

.error { color: #cc0033; }
.number { color: #cc3366; }
.modifier { color: #ff9966; }
.keyword { color: #ff6633; }
.ident { color: #ffcc99; }
.term { color: #ffcc33; }
.typed { color: #00cc99; }
.string { color: #99ffff; }
.parens { color: #cc6699; }
.symbol { color: #cc3366; }
